/*
!.gitignore
!content/
!game/

content/*
game/*
!content/dota_addons/
!game/dota_addons/

content/dota_addons/*
game/dota_addons/*
!content/dota_addons/warofexalted/
!game/dota_addons/warofexalted/
