.WoeStatsContainer
{
    horizontal-align: left;
    vertical-align: bottom;
    width: 106px;
    //height: 115px; //this height will cover armor/MS/damage display
    height: 80px; //this height will cover armor/MS but not damage
    margin-left: 672px;
    margin-bottom: 5px;
    
    flow-children: down;
    overflow: clip;
    font-size: 12;
    background-color: #000000;
    color: #BBBBBB;
    //uncomment for debugging
    //background-color: green;
    //color: red;
    //opacity: 0.4; 
}

.WoeStatsRow
{
    //height: 25px;
    width: fill-parent-flow(1.0);
    padding-top: 5px;
    flow-children: right;
    
}

.WoeStatsCol
{
    //width: 55px;
    flow-children: right;
    width: fill-parent-flow(1.0);
}
